<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/curso.css" />
    <title>OpenTopic 19062019</title>
  </head>
  <body>


          <div id="informacion">
            <% if (rta) { %>
              <b>Nombre : </b><%= rta[0].nombre %><br/>
              <b>Descripción : </b><%= rta[0].descripcion %><br/>
              <b>Creado por : </b><%= rta[0].creador %> -- <%= rta[0].correo %><br/>
              <b>Fecha : </b><%= rta[0].fecha %><br/>
            <% } %>
           </div>
        <!--  <div id="settingIcon"><img id="setting" src="img/setting.png"/></div>-->
    <div id="contenidos">
      <p id="tituloContenidos">Contenidos</p>
  <ul>
                <li class="unidad">Fundamentos de la Inteligencia Artificial
                  <ul>
                    <li class="tema">Introducción a la IA</li>
                    <li class="tema">Técnicas de la IA</li>
                    <li class="tema">Representación de problemas en espacios de estado</li>
                  </ul>

                 </li>

                 <li class="unidad">Unidad 2
                   <ul>
                     <li class="tema">Tema 2</li>
                     <li class="tema">Tema 2</li>
                     <li class="tema">Tema 2</li>
                     <li class="tema">Tema 2</li>
                   </ul>

                  </li>


              </ul>


<script src="js/curso.js"></script>
  </body>
</html>
