<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <div id="escondido">
          <% if (rta.length!=0) { %>
              <table id="tablaInicio">

            <% for(var i=0; i<rta.length; i++) { %>

              <tr class="curso">
                <td width="42%" class="nombreCurso">
                   <a target="_blank" id="nombre" name="<%= rta[i].nombre %>">
                     <%= rta[i].nombre %></a>
                       <hr class="listado"/>
                </td><td>
                 <b>Autor:</b> <%= rta[i].creador %> - <%= rta[i].correo %>
                    - <b>Fecha:</b> <%= rta[i].fecha %>
                    <hr class="listado"/>
                    </td>

                  </tr>

            <% } %>
            </table>
          <% } else{ %>
            <i>-- Empty -- </i>
            <% } %>
        </div> <br/>
        <script src="js/indexListado.js"></script>

  </body>
</html>
